<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <h3 class="mt-3">View Patient Details</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Blood Group</th>
                        <th scope="col">Hospital Name</th>
                        <th scope="col">Appointment Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of PatientData">
                        <th scope="row">{{i.name}}</th>
                        <td>{{i.age}}</td>
                        <td>{{i.bloodGroup}}</td>
                        <td>{{i.hospitalName}}</td>
                        <td>{{i.appointmentDate}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


