<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <h3 class="mt-3">Add Patient Details</h3>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Patient Name</label>
                    <input type="text" name="name" [(ngModel)]="name" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Patient Age</label>
                    <input type="number" name="age" [(ngModel)]="age" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Blood Group</label>
                    <input type="text" name="bloodGroup" [(ngModel)]="bloodGroup" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Hospital Name</label>
                    <input type="text" name="hospitalName" [(ngModel)]="hospitalName" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Appointment Date</label>
                    <input type="date" name="appointmentDate" [(ngModel)]="appointmentDate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readPatientDetails()" class="btn btn-primary mt-2">Add Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

